// TODO delete them from here to have them only in 'overall'
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$breakpoints: 1024px;

.header_home_page {
  display: flex;
  justify-content: center;

  h1 {
    font-family: "Shrikhand", "cursive";
    font-size: 80px;
    margin: 35px;
  }
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: rgb(234, 234, 234);
  box-shadow: rgba(0, 0, 0, 0.20) 0 5px 4px 0 inset;

  i {
    font-size: 40px;
    margin-right: 30px;
  }

  p {
    font-size: 40px;
    font-weight: 600;
    color: rgb(53, 53, 53);
  }
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(234, 234, 234, 0.55);
  height: auto;
  width: auto;
}

.title_description {
  margin: 50px 70px 0 70px;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
}

.subtitle_description {
  font-size: 40px;
  text-align: center;
  color: rgb(53, 53, 53);
}

.Functioning {
  margin-bottom: 100px;
}

.title_functioning {
  font-size: 60px;
  font-weight: 600;
}

.organize_card_functioning {
  padding: 0;
}

.card_Functioning {
  height: 170px;
  width: auto;
  border-radius: 50px;
  background-color: rgba(234, 234, 234, 0.55);
  display: flex;
  align-items: center;
  margin: 50px 0 0 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 15px;

  &:hover {
    background-color: rgba(240, 207, 255, 0.24);
    cursor: pointer;
  }
}

.round {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 70px;
  width: 70px;
  border-radius: 70px;
  background-color: $color-primary;
  color: white;
  margin-left: -30px;
  font-size: 35px;
}

.logo_Functioning {
  font-size: 50px;
  margin: 0 45px;
  color: gray;
}

.subtitle_functioning {
  font-weight: 700;
  font-size: 45px;
}

.restaurants {
  background-color: rgba(234, 234, 234, 0.55);
  height: auto;
  width: auto;
}

.title_restaurants {
  font-size: 60px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
}

.card_restaurants {
  width: 100%;
  height: 635px;
  border-radius: 50px;
  background-color: white;
  margin-bottom: 60px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 450px;
  border-radius: 50px 50px 0 0;
}

.storage_text_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.text_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .title {
    font-size: 45px;
    font-weight: 750;
    margin: 0 0 10px;
  }

  .subtitle {
    font-size: 45px;
    margin: 0;
  }
}

.logo_card_home_page {
  font-size: 50px;
  margin-right: 40px;

  i:nth-child(2) {
    display: none;
  }

  &:hover i:nth-child(1) {
    display: none;
  }

  &:hover i:nth-child(2) {
    display: block;
    color: $color-secondary;
  }

}

@media (min-width: $breakpoints) {
  .header_home_page {

    h1 {
      font-size: 2.5vw;
    }
  }

  .address {
    height: 100px;

    i {
      font-size: 25px;
    }

    p {
      font-size: 25px;
      font-weight: 600;
    }
  }

  .title_description {
    font-size: 50px;
    margin: 0;
  }

  .subtitle_description {
    font-size: 30px;
  }

  .organize_card_functioning {
    display: flex;
    justify-content: space-between;
  }

  .card_Functioning {
    height: auto;
    width: 30%;
    border-radius: 35px;
    margin: 50px 0 0 30px;
  }

  .subtitle_functioning {
    width: 145%;
    font-size: 1.7vw;
    margin: 15px 0;
  }

  .round {
    height: 45px;
    width: 45px;
    font-size: 1.5vw;
  }

  .logo_Functioning {
    margin: 5%;
    font-size: 2vw;
  }

  .title_functioning {
    font-size: 32px;
  }

  .organize_card_restaurants {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .img {
    height: 225px;
  }

  .card_restaurants {
    width: 420px;
    height: 350px;
  }

  .text_card {

    .title {
      font-size: 30px;
    }

    .subtitle {
      font-size: 28px;
    }
  }

  .logo_card_home_page {
    font-size: 28px;
  }

  .title_restaurants {
    font-size: 32px;
    margin-bottom: 5%;
  }

  .storage_text_card {
    margin: 20px;
  }

  .Functioning {
    margin-bottom: 60px;
  }
}

