@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
.header_home_page {
  display: flex;
  justify-content: center;
}
.header_home_page h1 {
  font-family: "Shrikhand", "cursive";
  font-size: 80px;
  margin: 35px;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #eaeaea;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 4px 0 inset;
}
.address i {
  font-size: 40px;
  margin-right: 30px;
}
.address p {
  font-size: 40px;
  font-weight: 600;
  color: #353535;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(234, 234, 234, 0.55);
  height: auto;
  width: auto;
}

.title_description {
  margin: 50px 70px 0 70px;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
}

.subtitle_description {
  font-size: 40px;
  text-align: center;
  color: #353535;
}

.Functioning {
  margin-bottom: 100px;
}

.title_functioning {
  font-size: 60px;
  font-weight: 600;
}

.card_Functioning {
  height: 170px;
  width: auto;
  border-radius: 50px;
  background-color: rgba(234, 234, 234, 0.55);
  display: flex;
  align-items: center;
  margin: 50px 0 0 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 15px;
}
.card_Functioning:hover {
  background-color: rgba(240, 207, 255, 0.24);
}

.round {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 70px;
  width: 70px;
  border-radius: 70px;
  background-color: #9356DC;
  color: white;
  margin-left: -30px;
  font-size: 35px;
}

.logo_Functioning {
  font-size: 50px;
  margin: 0 45px;
  color: gray;
}

.subtitle_functioning {
  font-weight: 700;
  font-size: 45px;
}

.restaurants {
  background-color: rgba(234, 234, 234, 0.55);
  height: auto;
  width: auto;
}

.title_restaurants {
  font-size: 60px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
}

.card_restaurants {
  width: 100%;
  height: 635px;
  border-radius: 50px;
  background-color: white;
  margin-bottom: 60px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 450px;
  border-radius: 50px 50px 0 0;
}

.storage_text_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.text_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text_card .title {
  font-size: 45px;
  font-weight: 750;
  margin: 0 0 10px;
}
.text_card .subtitle {
  font-size: 45px;
  margin: 0;
}

.logo_card_home_page {
  font-size: 50px;
  margin-right: 40px;
}
.logo_card_home_page i:nth-child(2) {
  display: none;
}
.logo_card_home_page:hover i:nth-child(1) {
  display: none;
}
.logo_card_home_page:hover i:nth-child(2) {
  display: block;
  color: #FF79DA;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.center {
  padding: 60px;
}

.bouton_description {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  align-items: center;
  justify-content: center;
  height: 130px;
  width: 70%;
  background: #9356DC;
  background: -webkit-linear-gradient(to top left, #9356DC 0%, #FF79DA 100%);
  background: -moz-linear-gradient(to top left, #9356DC 0%, #FF79DA 100%);
  background: linear-gradient(to top left, #9356DC 0%, #FF79DA 100%);
  border-radius: 65px;
  display: flex;
  margin: 50px 0 70px 0;
  font-size: 40px;
  color: white;
}

footer {
  list-style-type: none;
  background-color: #353535;
  height: 600px;
}
footer h2 {
  font-family: "Shrikhand", "cursive";
  padding: 60px 60px 0;
  font-size: 55px;
  color: white;
  margin: 0;
}
footer ul {
  margin: 0;
}
footer li {
  list-style-type: none;
  cursor: pointer;
  font-size: 45px;
  color: white;
  margin: 15px 0;
  font-weight: 500;
}
footer i {
  font-size: 35px;
  margin-right: 30px;
}
footer a {
  color: white;
}

.test {
  background-color: #f6f6f6;
}

.page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_header i {
  font-size: 50px;
  margin-left: 50px;
}
.page_header h1 {
  font-family: "Shrikhand", "cursive";
  font-size: 70px;
  margin: 35px 30% 35px 0;
}

.card_menu {
  background-color: #f6f6f6;
  margin-top: 40px;
  width: 100%;
  height: 180px;
  border-radius: 120px 120px 0 0;
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
.card_menu h2 {
  font-family: "Shrikhand", "cursive";
  font-size: 60px;
}

.img {
  position: relative;
  z-index: 1;
}

.entrées {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.img img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.logo_card {
  margin-top: 60px;
  font-size: 60px;
}

.logo_card i:nth-child(2) {
  display: none;
}

.logo_card:hover i:nth-child(1) {
  display: none;
}

.logo_card:hover i:nth-child(2) {
  animation-delay: 2s;
  display: block;
  color: #FF79DA;
}

.principal {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 45px;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
}

.secondaire {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 100;
  display: flex;
  justify-content: flex-start;
}

.bouton {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  align-items: center;
  justify-content: center;
  height: 130px;
  width: 50%;
  background: #9356DC;
  background: -webkit-linear-gradient(to top left, #9356DC 0%, #FF79DA 100%);
  background: -moz-linear-gradient(to top left, #9356DC 0%, #FF79DA 100%);
  background: linear-gradient(to top left, #9356DC 0%, #FF79DA 100%);
  border-radius: 65px;
  display: flex;
  margin: 100px 0 100px 25%;
}
.bouton p {
  font-size: 45px;
  color: white;
}

.title_plat {
  font-size: 40px;
  margin-left: 50px;
}
.title_plat p {
  margin-bottom: -15px;
}

.svg {
  width: 110px;
  height: 8px;
}

.svg_color {
  width: 110px;
  height: 8px;
  fill: #99E2D0;
}

.card_plat {
  display: flex;
  justify-content: space-between;
  animation-duration: 3s;
  animation-name: slidein;
  background-color: white;
  height: 180px;
  width: 85%;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border-radius: 40px;
  margin: 20px;
}

@keyframes slidein {
  from {
    margin-bottom: 100%;
  }
  to {
    margin-bottom: 2%;
  }
}
.check_logo {
  animation-name: slidein;
  border-radius: 0 40px 40px 0;
  height: 180px;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_animation {
  font-size: 0;
  color: white;
}

.price {
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
  font-weight: 500;
  margin-top: 115px;
  margin-bottom: 0;
}

.container_plat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.card_plat:hover .check_logo {
  animation-name: progress-bar;
  animation-duration: 3000ms;
}

.card_plat:hover .logo_animation {
  animation-name: rotation;
  animation-duration: 3000ms;
}

@keyframes progress-bar {
  0% {
    width: 0;
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  50% {
    width: 180px;
  }
  70% {
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0.1;
  }
}
@keyframes rotation {
  0% {
    margin: 90px;
    font-size: 70px;
    width: 0;
    opacity: 0.1;
  }
  20% {
    margin: 90px;
    font-size: 70px;
    opacity: 1;
  }
  50% {
    margin: 90px;
    transform: rotate(360deg);
    font-size: 70px;
    width: 180px;
  }
  70% {
    margin: 90px;
    font-size: 70px;
    opacity: 1;
  }
  100% {
    margin: 90px;
    transform: rotate(360deg);
    font-size: 70px;
    width: 0;
    opacity: 0.1;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(234, 234, 234, 0.55);
  width: auto;
  padding: 45% 0;
}
.contact .title {
  margin: 200px 0;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
}
.contact .subtitle {
  font-size: 40px;
  text-align: center;
  color: #353535;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(234, 234, 234, 0.55);
  width: auto;
  padding: 45% 0;
}
.contact .title {
  margin: 200px 0;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
}
.contact .subtitle {
  font-size: 40px;
  text-align: center;
  color: #353535;
}

/*# sourceMappingURL=main.css.map */
