@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
.header_arrow_main {
  font-size: 5vw;
  display: none;
}
.header_burger_main {
  font-size: 5vw;
  display: none;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #eaeaea;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 4px 0 inset;
}
.address_pin {
  font-size: 4vw;
  margin-right: 3%;
  cursor: pointer;
}
.address_city {
  font-size: 4vw;
  font-weight: 500;
  color: #353535;
  cursor: pointer;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
.description_title {
  margin: 3% 10%;
  font-size: 6vw;
  text-align: center;
  font-weight: 700;
}
.description_subtitle {
  margin: 1%;
  font-size: 4vw;
  text-align: center;
  color: #353535;
  font-weight: 300;
}
.description .button_main {
  padding: 5% 7%;
}

.functioning {
  margin-bottom: 10%;
}
.functioning_title {
  font-size: 6vw;
  font-weight: 600;
}
.functioning_container {
  padding: 0;
}
.functioning_card {
  border-radius: 5vw;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  margin: 7% 0 0 5%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 15px;
  width: 95%;
}
.functioning_card:hover {
  background-color: rgba(240, 207, 255, 0.24);
  cursor: pointer;
}
.functioning_card:hover .functioning_card_logo {
  color: #9356DC;
}
.functioning_card_round {
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 70px;
  background-color: #9356DC;
  color: white;
  margin-left: -5%;
  font-size: 3vw;
  padding: 2% 3%;
}
.functioning_align_logo {
  display: flex;
  align-items: center;
}
.functioning_card_subtitle {
  font-weight: 700;
  font-size: 4vw;
  margin: 10% 0;
}
.functioning_card_logo {
  font-size: 5vw;
  margin: 0 10%;
  color: gray;
}

.restaurants {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.restaurants_title {
  font-size: 6vw;
  font-weight: 600;
}
.restaurants .img_container {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 2/1;
  border-radius: 5vw 5vw 0 0;
}
.restaurants_container {
  display: flex;
  flex-direction: column;
}
.restaurants_card {
  width: 100%;
  border-radius: 5vw;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  margin-bottom: 8%;
}
.restaurants_card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  cursor: pointer;
}
.restaurants_card:hover .restaurants_card_title {
  color: #9356DC;
}
.restaurants_card:hover .restaurants_card_subtitle {
  color: #9356DC;
}
.restaurants_card_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4% 5%;
}
.restaurants_card_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.restaurants_card_title {
  font-size: 5vw;
  margin: 0 0 3%;
}
.restaurants_card_subtitle {
  font-size: 5vw;
  margin: 0;
}
.restaurants_card_logo {
  font-size: 5vw;
}

@media (min-width: 1024px) {
  .address_pin {
    font-size: 1.5vw;
    margin-right: 1%;
  }
  .address_city {
    font-size: 1.5vw;
  }

  .description_title {
    margin: 0 0 1% 0;
    font-size: 2vw;
  }
  .description_subtitle {
    margin: 0;
    font-size: 1.5vw;
  }
  .description .button_main {
    padding: 2% 4%;
  }

  .functioning {
    margin-bottom: 5%;
  }
  .functioning_title {
    font-size: 2vw;
  }
  .functioning_container {
    display: flex;
    justify-content: space-between;
  }
  .functioning_card {
    border-radius: 2.5vw;
    margin: 5% 0 0 5%;
  }
  .functioning_card_round {
    margin-left: -5%;
    font-size: 1.5vw;
    padding: 2% 4%;
  }
  .functioning_card_subtitle {
    font-size: 1.7vw;
  }
  .functioning_card_logo {
    font-size: 2vw;
    margin: 0 5%;
  }

  .restaurants_title {
    font-size: 2vw;
  }
  .restaurants .img_container {
    border-radius: 2vw 2vw 0 0;
  }
  .restaurants a {
    width: 23%;
  }
  .restaurants_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .restaurants_card {
    border-radius: 2vw;
    height: 90%;
  }
  .restaurants_card_title {
    font-size: 1.5vw;
  }
  .restaurants_card_subtitle {
    font-size: 1.5vw;
  }
  .restaurants_card_logo {
    font-size: 2vw;
  }
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: black;
}

.center {
  padding: 5%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 0;
}
.header img {
  width: 100%;
}
.header_title {
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 30%;
}
.header_logo {
  width: 10%;
  display: flex;
  justify-content: center;
}

.colorful_button {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  align-items: center;
  justify-content: center;
  background: #9356DC;
  background: -webkit-linear-gradient(to top left, #9356DC 0%, #FF79DA 100%);
  background: -moz-linear-gradient(to top left, #9356DC 0%, #FF79DA 100%);
  background: linear-gradient(to top left, #9356DC 0%, #FF79DA 100%);
  border-radius: 100px;
  display: flex;
  margin: 6%;
  font-size: 4vw;
  color: white;
  cursor: pointer;
}
.colorful_button:hover {
  background: #9356DC 90%;
  background: -webkit-linear-gradient(to top left, #9356DC 0%, #FF79DA 90%);
  background: -moz-linear-gradient(to top left, #9356DC 0%, #FF79DA 90%);
  background: linear-gradient(to top left, #9356DC 0%, #FF79DA 90%);
  box-shadow: rgba(0, 0, 0, 0.5) 0 7px 17px;
}

.spinner {
  width: 5px;
  height: 100px;
  background: linear-gradient(#9356DC, #FF79DA);
  margin: 10px;
  border-radius: 20px;
  animation: wave 1s;
  animation-fill-mode: both;
}
.spinner:nth-child(1) {
  animation-delay: 0.1s;
}
.spinner:nth-child(2) {
  animation-delay: 0.2s;
}
.spinner:nth-child(3) {
  animation-delay: 0.3s;
}
.spinner:nth-child(4) {
  animation-delay: 0.4s;
}

.spinner_container {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: gray_gradient 1s;
  animation-fill-mode: both;
}
.spinner_container:nth-child(1) {
  animation-delay: 1s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes gray_gradient {
  0% {
    background: white;
  }
  100% {
    background: rgba(255, 255, 255, 0);
    z-index: -10000;
  }
}
.heart_logo {
  cursor: pointer;
}
.heart_logo:hover i:nth-child(1) {
  display: none;
}
.heart_logo:hover i:nth-child(2) {
  display: block;
  color: #FF79DA;
  animation: pink_gradient 0.5s;
}

.heart_logo i:nth-child(2) {
  display: none;
}

@keyframes pink_gradient {
  from {
    color: #9356DC;
    opacity: 70%;
  }
  to {
    color: #FF79DA;
    opacity: 100%;
  }
}
.footer {
  list-style-type: none;
  background-color: #353535;
}
.footer h4 {
  font-family: "Shrikhand", "cursive";
  padding: 5% 5% 0;
  font-size: 5vw;
  color: white;
  margin: 0;
}
.footer_container {
  margin: 0;
}
.footer_line {
  list-style-type: none;
  cursor: pointer;
  font-size: 4vw;
  color: white;
  margin: 3% 0;
}
.footer_logo {
  font-size: 4vw;
  margin-right: 3%;
}
.footer a {
  color: white;
}

@media (min-width: 1024px) {
  .center {
    padding: 3%;
  }

  .header {
    padding: 2% 0;
  }
  .header_title {
    width: 15%;
  }
  .header_logo {
    width: 5%;
  }

  .colorful_button {
    margin: 3%;
    padding: 2% 5%;
    font-size: 1.5vw;
  }

  .footer h4 {
    font-size: 2vw;
    padding: 3% 3% 0;
  }
  .footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer_line {
    font-size: 1.5vw;
    margin: 2% 0;
  }
  .footer_logo {
    font-size: 1.5vw;
  }
}
.header_arrow_menu {
  font-size: 5vw;
  color: black;
}
.header_burger_menu {
  font-size: 5vw;
  display: none;
}

.img_container {
  position: relative;
  z-index: 1;
}
.img_container img {
  width: 100%;
  aspect-ratio: 1.5/1;
  object-fit: cover;
}

.menu {
  background-color: #f6f6f6;
  margin-top: -14%;
  border-radius: 10vw 10vw 0 0;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu h2 {
  font-family: "Shrikhand", "cursive";
  font-size: 6vw;
}
.menu_logo {
  font-size: 6vw;
}

.menu_container {
  background-color: #f6f6f6;
}

.menu_category {
  font-size: 4vw;
  padding: 5% 5% 0;
}
.menu_category h3 {
  font-weight: 300;
  margin-bottom: 2%;
  border-bottom: solid #99E2D0 0.8vw;
  width: 10%;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.list_menu {
  background: white;
  border-radius: 4vw;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  display: flex;
  animation: slide 1s forwards;
  opacity: 0;
  margin: 2% 0;
}
@keyframes slide {
  from {
    transform: translatey(20px);
    opacity: 0;
  }
  to {
    transform: translatey(0px);
    opacity: 100%;
  }
}
.list_card {
  padding: 4%;
  overflow: hidden;
  flex: 1;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.list_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
}
.list_info_title {
  font-size: 4vw;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 1vw 0;
}
.list_info_subtitle {
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 3.8vw;
  margin: 0;
}
.list_price {
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  font-size: 3.8vw;
  margin: 0;
}
.list_logo {
  background-color: #99E2D0;
  cursor: pointer;
  height: auto;
  width: 0;
  opacity: 0;
  border-radius: 0 4vw 4vw 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.list_logo_animation {
  font-size: 6vw;
  color: white;
  transform: rotate(360deg);
  transition: 0.4s ease-in-out;
}
.list_menu:nth-child(1) {
  animation-delay: 1.3s;
}
.list_menu:nth-child(2) {
  animation-delay: 1.5s;
}
.list_menu:nth-child(3) {
  animation-delay: 1.7s;
}
.list_menu:nth-child(4) {
  animation-delay: 1.9s;
}
.list_menu:nth-child(5) {
  animation-delay: 2.1s;
}
.list_menu:hover .list_logo {
  opacity: 100%;
  width: 20%;
}
.list_menu:hover .list_logo_animation {
  transform: rotate(0deg);
}

.container_colorful_button {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}
.container_colorful_button .button_menu {
  padding: 5% 15%;
}

@media (min-width: 1024px) {
  .header_arrow_menu {
    font-size: 2vw;
  }
  .header_burger_menu {
    font-size: 2vw;
  }

  .img_container img {
    aspect-ratio: 3/1;
  }

  .menu {
    margin-top: -8%;
    border-radius: 8vw 8vw 0 0;
  }
  .menu h2 {
    font-size: 2.5vw;
  }
  .menu_logo {
    font-size: 2.5vw;
  }

  .menu_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }

  .menu_sub_container {
    width: 30%;
  }

  .menu_category {
    font-size: 2vw;
  }
  .menu_category h3 {
    margin-bottom: 1%;
    font-size: 2vw;
    border-bottom: solid #99E2D0 0.3vw;
    width: 14%;
  }

  .list_menu {
    border-radius: 1.5vw;
    margin: 1% 0;
  }
  .list_info_title {
    font-size: 1.6vw;
    margin: 0 0 0.5vw;
  }
  .list_info_subtitle {
    font-size: 1.3vw;
    margin: 0;
  }
  .list_price {
    font-size: 1.3vw;
  }
  .list_logo {
    border-radius: 0 1.5vw 1.5vw 0;
  }
  .list_logo_animation {
    font-size: 3vw;
  }

  .container_colorful_button .button_menu {
    padding: 2% 10%;
  }
}

/*# sourceMappingURL=main.css.map */
