// TODO delete them from here to have them only in 'overall'
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$breakpoints: 1024px;


//    <body>    //
    //    in overall.scss    //

//    </body>    //


//    <div class="spinner_container">    //
    //    in overall.scss    //

//    </div>    //

//    <header class="header main_page">    //
    //    in overall.scss - and bottom    //

.main_page {
  display: flex;
  justify-content: center;
  padding: 41px;
}

//    </header>    //

//    <main>    //
    //    no style    //
//    </main>    //

//    <section class="address">    //

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(234, 234, 234);
  box-shadow: rgba(0, 0, 0, 0.20) 0 5px 4px 0 inset;

  &_pin {
    font-size: 4.5vw;
    margin-right: 3%;
  }

  &_city {
    font-size: 4.5vw;
    font-weight: 600;
    color: rgb(53, 53, 53);
  }

}

//    </section>    //

//    <section class="description center">    //
    //    in overall.scss - and bottom    //

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(234, 234, 234, 0.55);
  height: auto;
  width: auto;

  &_title {
    margin: 3% 7%;
    font-size: 6vw;
    text-align: center;
    font-weight: 700;
  }

  &_subtitle {
    margin: 2%;
    font-size: 3.5vw;
    text-align: center;
    color: rgb(53, 53, 53);
  }
}

//    </section>    //

//    <section class="functioning center">    //
    //    in overall.scss - and bottom    //

.functioning {
  margin-bottom: 10%;

  &_title {
    font-size: 6vw;
    font-weight: 600;
  }

  &_container {
    padding: 0;
  }

  &_card {
    border-radius: 50px;
    background-color: rgba(234, 234, 234, 0.55);
    display: flex;
    align-items: center;
    margin: 7% 0 0 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 15px;

    &:hover {
      background-color: rgba(240, 207, 255, 0.24);
      cursor: pointer;
    }
  }

  &_card_round {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 70px;
    width: 70px;
    border-radius: 70px;
    background-color: $color-primary;
    color: white;
    margin-left: -30px;
    font-size: 35px;
  }

  &_card_subtitle {
    font-weight: 700;
    font-size: 4.5vw;
    margin: 10% 0;
  }

  &_card_logo {
    font-size: 50px;
    margin: 0 45px;
    color: gray;
  }
}

//    </section>    //

//    <section class="restaurants center">    //
    //    in overall.scss - and bottom    //

.restaurants {
  background-color: rgba(234, 234, 234, 0.55);
  height: auto;
  width: auto;

  &_title {
    font-size: 6vw;
    font-weight: 600;
  }

  .img_container {
    object-fit: cover;
    width: 100%;
    height: 450px;
    border-radius: 50px 50px 0 0;
  }

  &_card {
    width: 100%;
    height: 635px;
    border-radius: 50px;
    background-color: white;
    margin-bottom: 60px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
      cursor: pointer;
    }
  }

  &_card_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
  }

  &_card_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &_card_title {
    font-size: 45px;
    font-weight: 750;
    margin: 0 0 10px;
  }

  &_card_subtitle {
    font-size: 45px;
    margin: 0;
  }

  &_card_logo {
    font-size: 60px;
  }
}

//    </section>    //

//    <footer class="footer">    //
    //    in overall.scss    //

//    </footer>    //

@media (min-width: $breakpoints) {


  //    <section class="address">    //

  .address {

    &_pin {
      font-size: 1.5vw;
      margin-right: 1%;
    }

    &_city {
      font-size: 1.5vw;
    }
  }

  //    </section>    //

  //    <section class="description center">    //
  //    in overall.scss - and bottom    //

  .description {

    &_title {
      margin: 0 0 1% 0;
      font-size: 2vw;
    }

    &_subtitle {
      margin: 0;
      font-size: 1.5vw;
    }
  }

  //    </section>    //

  //    <section class="functioning center">    //
  //    in overall.scss - and bottom    //

  .functioning {
    margin-bottom: 5%;

    &_title {
      font-size: 2vw;
    }

    &_container {
      display: flex;
      justify-content: space-between;
    }

    &_card {
      height: auto;
      width: 30%;
      border-radius: 35px;
    }

    &_card_round {
      height: 45px;
      width: 45px;
      font-size: 1.5vw;
    }

    &_card_subtitle {
      width: 145%;
      font-size: 1.7vw;
      margin: 15px 0;
    }

    &_card_logo {
      margin: 5%;
      font-size: 2vw;
    }
  }

  //    </section>    //

  //    <section class="restaurants center">    //
  //    in overall.scss - and bottom    //

  .restaurants {

    &_title {
      font-size: 2vw;
      margin-bottom: 5%;
    }

    &_container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    .img_container {
      height: 225px;
    }

    &_card {
      width: 420px;
      height: 350px;
    }

    &_card_container {
      margin: 20px;
    }

    &_card_title {
      font-size: 30px;
    }

    &_card_subtitle {
      font-size: 28px;
    }

    &_card_logo {
      font-size: 28px;
    }
  }

  //    </section>    //

}

