$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-gray: #f6f6f6;

$breakpoints: 1024px;

//    overall    //

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: black;
}

.center {
  padding: 5%;
}


//    header    //

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 0;

  img {
    width: 100%;
  }

  &_title {
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 30%;
  }

  &_logo {
    width: 10%;
    display: flex;
    justify-content: center;
  }
}


//    button    //

.colorful_button {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  align-items: center;
  justify-content: center;
  background: $color-primary;
  background: -webkit-linear-gradient(to top left, $color-primary 0%, $color-secondary 100%);
  background: -moz-linear-gradient(to top left, $color-primary 0%, $color-secondary 100%);
  background: linear-gradient(to top left, $color-primary 0%, $color-secondary 100%);
  border-radius: 100px;
  display: flex;
  margin: 6%;
  font-size: 4vw;
  color: white;
  cursor: pointer;
  &:hover {
    background: $color-primary 90%;
    background: -webkit-linear-gradient(to top left, $color-primary 0%, $color-secondary 90%);
    background: -moz-linear-gradient(to top left, $color-primary 0%, $color-secondary 90%);
    background: linear-gradient(to top left, $color-primary 0%, $color-secondary 90%);
    box-shadow: rgba(0, 0, 0, 0.50) 0 7px 17px;
  }
}


//    spinner    //

.spinner {
  width: 5px;
  height: 100px;
  background: linear-gradient($color-primary, $color-secondary);
  margin: 10px;
  border-radius: 20px;
  animation: wave 1s ; //infinite
  animation-fill-mode: both;

  &:nth-child(1) {
    animation-delay: 0.1s;
  }

  &:nth-child(2) {
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    animation-delay: 0.3s;
  }

  &:nth-child(4) {
    animation-delay: 0.4s;
  }
}

.spinner_container {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10000;
  display:flex;
  align-items:center;
  justify-content:center;
  animation: gray_gradient 1s;
  animation-fill-mode: both;

  &:nth-child(1) {
    animation-delay: 1s;
  }
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes gray_gradient {
  0% {
    background: rgb(255, 255, 255, 1);
  }
  100% {
    background: rgba(255, 255, 255, 0);
    z-index: -10000;
  }
}


//    heart_logo    //

.heart_logo {
  cursor: pointer;

  &:hover i:nth-child(1) {
    display: none;
  }

  &:hover i:nth-child(2) {
    display: block;
    color: $color-secondary;
    animation: pink_gradient 0.5s;
  }
}

.heart_logo i:nth-child(2) {
  display: none;
}

@keyframes pink_gradient {
  from {
    color: $color-primary;
    opacity: 70%;
  }
  to {
    color: $color-secondary;
    opacity: 100%;
  }
}


//        <footer>        //

.footer {
  list-style-type: none;
  background-color: rgb(53, 53, 53);

  h4 {
    font-family: "Shrikhand", "cursive";
    padding: 5% 5% 0;
    font-size: 5vw;
    color: white;
    margin: 0;
  }

  &_container {
    margin: 0;
  }

  &_line {
    list-style-type: none;
    cursor: pointer;
    font-size: 4vw;
    color: white;
    margin: 3% 0;
  }

  &_logo {
    font-size: 4vw;
    margin-right: 3%;
  }

  a {
    color: white;
  }
}

//        </footer>        //

@media (min-width: $breakpoints) {

  .center {
    padding: 3%;
  }

  //    header    //

  .header {
    padding: 2% 0;

    &_title {
      width: 15%;
    }

    &_logo {
      width: 5%;
    }
  }

  //    button    //

  .colorful_button {
    margin: 3%;
    padding: 2% 5%;
    font-size: 1.5vw;
  }

  //        <footer>        //

  .footer {

    h4 {
      font-size: 2vw;
      padding: 3% 3% 0;
    }

    &_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &_line {
      font-size: 1.5vw;
      margin: 2% 0;
    }

    &_logo {
      font-size: 1.5vw;
    }
  }

  //        </footer>        //

}
