$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.center {
  padding: 60px;
}

.bouton_description {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  align-items: center;
  justify-content: center;
  height: 130px;
  width: 70%;
  background: $color-primary;
  background: -webkit-linear-gradient(to top left, $color-primary 0%, $color-secondary 100%);
  background: -moz-linear-gradient(to top left, $color-primary 0%, $color-secondary 100%);
  background: linear-gradient(to top left, $color-primary 0%, $color-secondary 100%);
  border-radius: 65px;
  display: flex;
  margin: 50px 0 70px 0;
  font-size: 40px;
  color: white;
}


//        <footer>        //


footer {
  list-style-type: none;
  background-color: rgb(53, 53, 53);
  height: 600px;

  h2 {
    font-family: "Shrikhand", "cursive";
    padding: 60px 60px 0;
    font-size: 55px;
    color: white;
    margin: 0;
  }

  ul {
    margin: 0;
  }

  li {
    list-style-type: none;
    cursor: pointer;
    font-size: 45px;
    color: white;
    margin: 15px 0;
    font-weight: 500;
  }

  i {
    font-size: 35px;
    margin-right: 30px;
  }

  a {
    color: white;
  }

}


//        </footer>        //
